/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
    max-width: 75rem;
    min-width: 18.75rem;
    width: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* section title */
.title {
    text-align: center;
}

.title h1 {
    color: #e42f6f;
    font-weight: 800;
    font-size: 1.875rem;
    padding: 2.5rem 0;
}

.title p {
    font-weight: 400;
}

/* card */
.cards {
    padding-top: 3.5rem;
}

.card {
    height: 6.25rem;
    width: calc(100% / 3 - 1.875rem);
    margin: 0 .9375rem;
    float: left;
    box-shadow: 0rem .0625rem .4375rem .3125rem #d0d0cf;
    background-color: #0f0e17;
}

.card img {
    height: 100px;
}

.description {
    float: right;
    width: calc(100% - 6.25rem);
    padding: .5rem 0 .375rem 1.25rem;
    color: white;
}

.description h3 {
    font-weight: 800;
    font-size: 1.25rem;
}

.description h5 {
    padding: .5rem 0;
}

.description a {
    text-decoration: none;
    color: #2ca2d6;
}

.cards > div:nth-child(2) {
    padding-top: 2.875rem;
}


